header{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin-bottom: 1000px;

}
header nav{
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 60px 20px;
}
header nav ul{
    display: flex;
    gap: 25px;
}
header nav ul a{
    color: rgb(250, 250, 250);
    font-size: 22px;
    padding-bottom: 10px;
    text-decoration: none;

}
header nav span{
    color: rgb(250, 250, 250);
    font-size: 22px;
}
header nav ul a:hover{
    border-bottom: 3px solid #d8a31e;
}